*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{font-family: 'montseratt',sans-serif;}

/*body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f1f1f1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}*/

.app{
  background-image: url('./img/winter.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.6s ease-in;
}

.app.warm{background-image: url('./img/summer.jpg');}
.app.clouds{background-image: url('./img/clouds.jpg');}
.app.rain{background-image: url('./img/rain.jpg');}
.app.haze{background-image: url('./img/haze.jpg');}
.app.thunder{background-image: url('./img/thunder.jpg');}
.app.drizzle{background-image: url('./img/drizzle.jpg');}
.app.snow{background-image: url('./img/snow.jpg');}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 25px;
}

.search-box{
  width: 100%;
  /*margin-right: 5px ;*/
  margin: 0 0 75px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding:15px ;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rbga(0,0,0,0.2);
  color: rgba(24, 23, 23, 0.884);
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255, 0.89);
}

.location-box .location{
  color: #FFF;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50,50,70,0.5);
  
}

.location-box .date{
  color: #FFF;
  font-size: 32px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50,50,70,0.5);
}

.weather-box {
  text-align: center;
}

/*.weather{
  text-align: center;
  color:#FFF;
  font-size: 35px;
  text-shadow: 2px 2px rgba(50,50,70,0.5);


}*/

.weather-box .temp  {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255,0.2);
  border-radius: 16px;
  padding: 15px 25px;
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather,.temp-max,.temp-min,.desc {
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  margin: auto;
}

.flex-container {
  display: flex;
  width: max-content;
  line-height: inherit;
  background-color: rgba(255, 255, 255, 0.103);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin: 10px auto;
}

.flex-container > div {
  margin: 0px 25px;
  text-align: center;
  
}
/*
.perspective-text {
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {

margin-left: auto;
margin-right: auto;
  width: 315px;
  height: 50px;
  overflow: hidden;
  position: relative;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.337);
}

.perspective-text:hover p {
  transform: translate(0, -50px);
}

.perspective-line:nth-child(1) {
  left: 29px;
}

.perspective-line:nth-child(2) {
  left: 58px;
  background: #ff432e00;
}

.perspective-line:nth-child(3) {
  left: 87px;
  background: #ff84ce00;
}

.perspective-line:nth-child(4) {
  left: 116px;
  background: #ff5ad000;
}

.perspective-line:nth-child(5) {
  left: 145px;
}*/